{{>header}}
{{>navbar}}
<section class="container my-5">
  
    <form method="post">
        <div class="mb-3">
            <input class="form-control" name="Balance" placeholder="Balance">
        </div>
        <div class="mb-3">
            <input class="form-control" name="typeOfTransaction" placeholder="typeOfTransaction">
        </div>
<button class="btn btn-primary" role="button" type="submit">Submit</button>
    </form>
</section>
{{>footer}}